<!DOCTYPE html>
<html>

<head>
    <%- include('./part/header.ejs') %>
</head>

<body>
    example ejs
    <h1><%= data %></h1>
    <footer>
        <%- include('./part/footer.ejs') %>

    </footer>
</body>

</html>